<div class="guia-navigation">
    <div class="row">
      <div class="medium-9 columns medium-centered">
          <h4>Estás leyendo la guía de consumo consciente de detergentes:</h4>
      </div>
    </div>
    <div class="row">
      <div class="medium-9 columns medium-centered">
        <ol>
          {% for seccion in [
          'Lavemos ropa y platos sin ensuciar ríos',
          '¿Cuán importante es, usar detergentes ecológicos?',
          'Por qué se siguen fabricando detergentes menos ecológicos de lo posible?',
          '¿Cómo puedo reconocer los productos ecológicos de verdad?',
          'Una sección más'] %}
          {% if loop.index == 2%}
          <li>{{seccion}}</li>
          {% else %}
          <li><a href="/guias/seccion/detergentes-ecologicos/">{{seccion}}</a></li>
          {% endif %}
          {% endfor %}
        </ol>
      </div>
    </div>
    {% include 'consultorio-cta.html' %}
</div>
