<nav class="navigation-container l-row navigation-container--collapsed js-navbar">
  <div class="main-navigation">

    
      <nav class="navigation-container">
      <!--
       <ul class="top-navigation--primary">
          <li><a class="" href="/">Inicio</a></li>
          {% for category in site.categories %}
          <li {% if page.url starts with category.url %} class="active" {% endif %}><a  href="{{ category.url }}">{{ category.name }}</a></li>
          {% endfor %}
        </ul>

        <ul class="top-navigation--secondary">
          {% for tag in site.tags %}
          <li><a href="{{ tag.url }}">{{ tag.name }}</a></li>
          {% endfor %}
        </ul>
      -->
      </nav>

  </div>
</nav>
