.ad[data-lazyad-loaded="true"] {
  padding: 1em 0;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  margin-top: 0.5em;
  margin-bottom: 1em;
  img {
    margin: 0 auto;
    display: block;
  }

  .ad_info {
    text-align: center;
    font-size: 0.8em;
    color: $dark-gray;
    margin: 0;
  }

}
