.ad[data-lazyad-loaded="true"] {
  padding: 1em 1em 0.3em;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  img {
    margin: 0 auto;
    display: block;
  }
  @include breakpoint(small only) {
    &.ad_item--banner  {
      padding: 0;
      border-top: 0px;
      border-bottom: 0px;
    }
  }

  .ad_info {
    text-align: center;
    font-size: 0.8em;
    color: $dark-gray;
    padding: 1em 0 0;
  }

}
