@charset "UTF-8";

@import "settings";
@import "foundation";

@include foundation-global-styles;
@include foundation-float-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-grid;
@include foundation-callout;

@import "util";
@import "mixins";
@import "header";
@import "navigation";
@import "layout";
@import "footer";
@import "toc";
@import "guias";
@import "card";
@import "card-list";
@import "publi-card";



$font-path: "../fonts/foundation-icons/foundation-icons";
@font-face {
  font-family: "foundation-icons";
  src: url("#{$font-path}.eot");
  src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}.woff") format("woff"),
       url("#{$font-path}.ttf") format("truetype"),
       url("#{$font-path}.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import "../fonts/foundation-icons/foundation-icons.css";
