@charset "UTF-8";

@import "settings";

@import "normalize";
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/buttons";
@import "foundation/components/thumbs";
@import "foundation/components/breadcrumbs";
@import "foundation/components/inline-lists";
@import "foundation/components/offcanvas";
@import "foundation/components/magellan";
@import "foundation/components/labels";
@import "foundation/components/panels";
@import "foundation/components/side-nav";

@import "mixins";
@import "header";
@import "navigation";
@import "layout";
@import "footer";
@import "cards";
@import "toc";

.text-center {
  text-align: center;
}

.updates {
  font-size: 0.8em;
  li {
    color: gray;
  }
}

.lead {
  font-size: 1.2em;
  li {
    padding-bottom: 0.4em;
  }
}

$font-path: "../fonts/foundation-icons/foundation-icons";
@font-face {
  font-family: "foundation-icons";
  src: url("#{$font-path}.eot");
  src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}.woff") format("woff"),
       url("#{$font-path}.ttf") format("truetype"),
       url("#{$font-path}.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import "../fonts/foundation-icons/foundation-icons.css";
