<!DOCTYPE html>
<html>
    <head>
        {% include('head.html') %}
    </head>
    <body>

      {% include('header.html') %}

      {% include('navigation.html') %}

      {% include('signposting.html') %}

      {% block content_wrapper %}
      <div class="row">
        <div class="medium-10 columns medium-offset-1">
        {% block content %}{% endblock %}
        </div>
      </div>
      {% endblock %}

      {% block footer %}
      {% include('footer.html') %}
      {% endblock %}

      {% include('footer_scripts.html') %}

      {% block scripts %}
      {% endblock %}

      {% include('google_analytics.html') %}

      {% block scripts_after %}

      {% endblock %}
    </body>
</html>
