<!DOCTYPE html>
<html>
    <head>
        {% include('head.html') %}
    </head>
    <body>

      {% include('header.html') %}

      {% include('navigation.html') %}

      {% include('signposting.html') %}

      {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}

      <footer class="container">
          &copy; {{ "now"|date("Y") }} {{ site.title }}
      </footer>

      {% include('footer_scripts.html') %}

      {% block scripts %}
      {% endblock %}

      {% include('google_analytics.html') %}

      {% block scripts_after %}
      <script>
        $(document).foundation();
      </script>
      {% endblock %}
    </body>
</html>
