{% extends "default.html" %}


{% block content_wrapper %}
<div class="off-canvas-wrap" data-offcanvas>
  <main class="inner-wrap">
    <aside id="toc" class="left-off-canvas-menu">
    </aside>
    <div class="row">
      <div class="small-12 columns">
        <h1>{{ page.title }} </h1>
        <span role="button" tabindex="0" href="#toc" class="button tiny left-off-canvas-toggle" >índice</span>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        {% block content %}
        {% endblock %}
      </div>

    </div>
  <a class="exit-off-canvas"></a>
  </main>

</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
  $('#toc').toc({
    'anchorName': function(i, heading, prefix) { //custom function for anchor name
        return prefix+i;
    }
  });
</script>
{% endblock %}
