.header__brand,
.header__actions {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header__actions{
  text-align: right;
}

.header__action--button {
  @include button();
}

.navigation-container {
  @include grid-row;
  &--collapsed {
    .top-navigation {
      x-overflow: scroll;
      white-space: nowrap;
      backface-visibility: hidden;
    }
    .top-navigation--primary,
    .top-navigation--secondary {
      display: table-cell;
      li {
        display: table-cell;
      }
    }
  }
}

.top-navigation {
  position: relative;
}

.top-navigation--primary,
.top-navigation--secondary {
  @include inline-list;
}

.navbar__toggle {
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar--secondary.is-hidden {
  display: none;
}

.breadcrumbs {
  @include crumb-container;
  li {
    @include crumbs;
  }
}
