.ad[data-lazyad-loaded="true"] {
  @include grid-col-row;
  padding: 1em 0;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  margin: 1em 0;
  img {
    margin: 0 auto;
    display: block;
  }

  &.ad_item--aside {
    border: 0px;
  }

  .ad_info {
    text-align: center;
    font-size: 0.8em;
    color: $dark-gray;
    margin: 0;
  }

}
