---
layout: default
title: Guías de consumo consciente y transformador
slug: guias
signpost:
    - inicio
    - guias
guias:
    - name: Detergentes TOC
      url: /guias/detergentes-magellan
      label: Hogar
    - name: Detergentes off-canvas
      url: /guias/detergentes-offcanvas
      label: Hogar
    - name: Detergentes
      url: /guias/detergentes
      label: Energia
    - name: Detergentes
      url: /guias/detergentes
      label: Hogar
    - name: Otra guía de producto
      url: /guias/detergentes
      label: Otr categoría
    - name: Pilas y baterías
      url: /guias/detergentes
      label: Energia

---

<div class="row">

  <div class="small-12 columns">
    <h1>{{ page.title }}</h1>
  </div>

</div>
<div class="row">

  {% for guia in page.guias %}
    {% include 'card.html' with {'element': guia} %}
  {% endfor %}

</div>
