---
layout: default
title: About
slug: guias
signpost:
    - inicio
    - guias
guias:
    - name: Detergentes
      url: /guias/detergentes
    - name: Detergentes off-canvas
      url: /guias/detergentes-offcanvas
    - name: Pilas y baterías
      url: /guias/detergentes
    - name: Detergentes
      url: /guias/detergentes
    - name: Un nombre de una guia de consumo muy largo
      url: /guias/detergentes
    - name: Pilas y baterías
      url: /guias/detergentes
---

<div class="row">
  <h1>Guias de consumo consciente y transformador</h1>
  {% for guia in page.guias %}
    {% include 'card.html' with {'element': guia} %}
  {% endfor %}
</div>
