---
layout: default
title: Guías de consumo consciente y transformador
slug: guias
signpost:
    - inicio
    - guias
guias:
    - name: Detergentes
      url: /guias/detergentes
      label: Hogar
    - name: Calefacción
      url: /guias/detergentes
      label: Energía
    - name: Detergentes
      url: /guias/detergentes
      label: Hogar
    - name: Azucar
      url: /guias/detergentes
      label: Alimentación
    - name: Aceite de oliva
      url: /guias/detergentes
      label: Alimentación
    - name: Ordenadores
      url: /guias/detergentes
      label: Tecnología
    - name: Vambas
      url: /guias/detergentes
      label: Ropa y complementos
    - name: Libros
      url: /guias/detergentes
      label: Cultura y ocio
    - name: Detergentes
      url: /guias/detergentes
      label: Hogar
    - name: Calefacción
      url: /guias/detergentes
      label: Energía
    - name: Detergentes
      url: /guias/detergentes
      label: Hogar
    - name: Azucar
      url: /guias/detergentes
      label: Alimentación
    - name: Aceite de oliva
      url: /guias/detergentes
      label: Alimentación
    - name: Ordenadores
      url: /guias/detergentes
      label: Tecnología
    - name: Vambas
      url: /guias/detergentes
      label: Ropa y complementos
    - name: Libros
      url: /guias/detergentes
      label: Cultura y ocio

---

<div class="guias">

  <div class="row column">
    <h1>{{ page.title }}</h1>
  </div>


  <ul class="card-list">
    {% for guia in page.guias %}
    {% if loop.index != 1 and loop.index % 4 == 1 %}
    <li class="card-list__item">
      {% include 'publi-card.html' %}
    </li>
    {% endif %}

    <li class="card-list__item">
      {% include 'card.html' with {'element': guia} %}
    </li>

    {% endfor %}

  </ul>

</div>
