---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---

{% block content_wrapper %}
<article class="row u-full-with featured-story">
  <div class="featured-story__image u-16-9">
    <div class="u-placeholder"></div>
  </div>
  <div class="featured-story__overlay">
    <h2 class="title">Un tipo pescando a la orilla del río</h1>
    <a href="#" class="button secondary">Leer más</a>

  </div>
</article>


{% include 'featured-block.html' with {'title': 'principal 1/2', 'class': '', 'n': '2'} %}

{% include 'publi_banner.html' %}

{% include 'featured-block.html' with {'title': 'secundario en rejilla', 'class': 'featured-block--secondary-grid', 'n': '4'} %}

{% include 'publi-card.html' %}
{% include 'publi-card.html' %}

{% include 'featured-block.html' with {'title': 'principal 1/3', 'class': 'featured-block--one-third', 'n': '2'} %}


<div class="row">
  <div class="columns">

      <div class="media-object">
        <div class="media-object-section">
          <img src= "http://placeimg.com/200/200/people">
        </div>
        <div class="media-object-section">
          <h4>Dreams feel real while we're in them.</h4>
          <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
        </div>
      </div>


      <h2>Botones</h2>

      <!-- Anchors (links) -->
      <a href="about.html" class="button">Learn More</a>
      <a href="#features" class="button">View All Features</a>

      <!-- Buttons (actions) -->
      <button type="button" class="success button">Save</button>
      <button type="button" class="alert button">Delete</button>

      <a class="tiny button" href="#">So Tiny</a>
      <a class="small button" href="#">So Small</a>
      <a class="large button" href="#">So Large</a>
      <a class="expanded button" href="#">Such Expand</a>

      <div class="button-group">
        <a class="button">One</a>
        <a class="button">Two</a>
        <a class="button">Three</a>
      </div>

      <h3>Formularios</h3>

      <form>
        <label>Input Label
          <input type="text" placeholder=".small-12.columns" aria-describedby="exampleHelpText">
        </label>
        <p class="help-text" id="exampleHelpText">Here's how you use this input field!</p>
        <label>
          How many puppies?
          <input type="number" value="100">
        </label>
        <label>
          What books did you read over summer break?
          <textarea placeholder="None"></textarea>
        </label>
        <label>Select Menu
          <select>
            <option value="husker">Husker</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </label>
        <div class="row">
          <fieldset class="large-6 columns">
            <legend>Choose Your Favorite</legend>
            <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Red</label>
            <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
            <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow"><label for="pokemonYellow">Yellow</label>
          </fieldset>
          <fieldset class="large-6 columns">
            <legend>Check these out</legend>
            <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
            <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
            <input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 3</label>
          </fieldset>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <label for="middle-label" class="right middle">Label</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="middle-label" placeholder="Right- and middle-aligned text input">
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-label">$</span>
          <input class="input-group-field" type="url">
          <a class="input-group-button button">Submit</a>
        </div>
      </form>

  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="panel callout radius">

      <p>Poco a poco.</p>
    </div>
  </div>
</div>
{% endblock %}
